
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&family=Merienda:wght@400;700&family=Mochiy+Pop+P+One&family=Rampart+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&family=Saira+Stencil+One&display=swap');
/* Optional: embed some icons from academicons here with `@import`          */
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");
/* This must remain at the top of this file.                 */

:root {
  /* Main font */
  --font-body:   'Roboto', sans-serif, Arial, sans-serif;
  --font-header: 'Edu QLD Beginner', cursive, Arial, sans-serif;
  --font-navbar: 'Edu QLD Beginner', cursive, Arial, sans-serif;
  
  /* color of the html pages background */
  --color-background:    rgba(215, 219, 219, 0.5);
  
  /* color of titles */
  --title-color:    rgba(0, 0, 0, 0.8);
  /* color of headers */
  --header-color:    rgba(19, 122, 105, 0.8);
  /* color of text */
  --body-color:      rgba(5, 55, 65, 0.8);
  /* color of aside text */
  --aside-color:     rgba(82, 117, 131 , 0.8);
  /* color of navigation bar and footer */
  --navbar-foot-color: rgba(37, 160, 160, 0.9);
  /* color of text within the navbar */
  --navbar-prim-color: rgba(255, 255, 255, 0.9);
  /* color of text within the navbar when user move the mouse over */
  --navbar-sec-color: rgba(117, 112, 179, 0.8);
}

html {
  /*-- Main font sizes --*/
  --title-size:      3rem;
  --body-size:       1.06rem;
  --code-size:       0.875rem;
  --aside-size:      0.75rem;
  --fig-cap-size:    0.75rem;
  /*-- Main font colors --*/
  --title-color:     var(--title-color);
  --header-color:    var(--header-color);
  --body-color:      var(--body-color);
  --aside-color:     var(--aside-color);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    var(--font-header);
  --mono-font:       monospace;
  --body-font:       var(--font-body);
  --navbar-font:     var(--font-navbar);  /* websites + blogs only */
  --scroll-behavior: auto; /* The scrolling box scrolls instantly */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    1.125rem;
  --contents-size:   0.813rem;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    0.938rem;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --font-family:      var(--font-navbar);
  --title-size:       1.375rem;
  --text-size:        1.125rem;
  --text-color:       var(--navbar-prim-color);
  --hover-color:      var(--navbar-sec-color);
  --bkgd-color:       var(--navbar-foot-color);
  --letter-spacing:   0.25rem;
}

.distill-site-footer {
  --font-family:      var(--font-navbar);
  --text-size:        1.125rem;
  --text-color:       var(--navbar-prim-color);
  --hover-color:      var(--navbar-sec-color);
  --bkgd-color:       var(--navbar-foot-color);
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below  */

/* change search bar appearance */ 
.algolia-autocomplete {
    display: inline-block;
    margin-left: 1.563rem;
    vertical-align: baseline;
    background-color: rgba(255, 255, 255, 1);
    color: var(--body-color);  /* Color of text in drop-down*/
    padding: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    border-radius: 1.563rem;
    border: 0rem;  /* Removed border */
    width: 12.5rem;
}

/* Change the appearence of embeded video (e.g., youtube video) */
.video-container { 
  text-align: center;
  width: 43.75rem;
  height: 24.625rem;
  display: block;
  margin: auto;
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  
}

.video-container iframe, .video-container object, .video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  
}

/* change html background appearance */ 
html body {
    background-color: var(--color-background);
}

d-article {
    contain: none;
  }
  
/* Change link appearance */
d-article a {
  color: var(--header-color);
  font-style: italic;
  border-bottom: 0px;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 0px;
}

/* Change link appearance in the navbar */
a:hover, a:focus {
    color: var(--navbar-sec-color);
    text-decoration: none !important;
    border-bottom: 0px !important;
}

/* Postcard headers */
h1, h2, h3 {
  color:    var(--header-color);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  font-family:   var(--font-header);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  font-weight:   500;
  font-style:    bold;
}

/* Postcard main text */
div#content p {
  font-family: var(--font-body);
  font-style: normal;
  font-size: 1.06rem;
  text-align: justify;
  color: var(--body-color);
}

/* Buttons on home page - code from https://github.com/jhelvy/jhelvy_distill/blob/master/css/jhelvy.css */
.btn-outline-dark {
    background-color: var(--header-color);
    color:  rgba(255, 255, 255, 0.8);
    border: 0px;
}

.btn-outline-dark:hover {
    background-color: var(--navbar-sec-color);
}

/* icon link buttons - see https://www.jhelvy.com/posts/2021-03-25-customizing-distill-with-htmltools-and-css/*/
.icon-link {
    background-color: var(--header-color);
    color: var(--navbar-prim-color);
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link:hover {
    background-color: var(--navbar-sec-color);
    font-weight: 500;
    color: var(--navbar-prim-color);
}

/* Change tables appearence */
table, th, tr, td {
  font-family: var(--font-body);
  font-style: normal;
  font-size: 1.06rem;
  font-weight: 400;
  color: var(--body-color);
  text-align: justify;
  border-collapse: collapse;
  border: none;
}

/* add small text appearence */
.small-text {
  font-family: var(--font-body);
  font-style: italic;
  font-size: 0.8em;
  color: var(--aside-color);
  text-align: right;
}

/* add a special appearence for the title of the detailed section */
.summary {
  font-family: var(--font-body);
  font-style: italic;
  font-size: 0.938rem;
  color: var(--navbar-sec-color);
  text-align: left;
}

/* add a special appearence for detailed section */
.detailed-text {
  font-family: var(--font-body);
  font-style: normal;
  font-size: 0.938em;
  color: var(--body-color);
  text-align: justify;
  font-weight: 400;
}

/* add a special appearence for plain text section */
.plain-text {
  font-family: var(--font-body);
  font-style: normal;
  font-size: 1.06rem;
  color: var(--body-color);
  text-align: justify;
  font-weight: 400;
}

/* adjust the size of the blog post' preview (code from austinweisgrau retrieved from https://github.com/rstudio/distill/issues/92) */
.thumbnail {
    padding: 0px!important;
    margin: 0px!important;
    max-width: 10%!important;
    height: auto!important;
    vertical-align: text-top!important;
}

/* Change the TOC to fix it to the upper left (code from https://distillery.rbind.io/posts/2022-01-24-the-toc-in-distill)/ */
#TOC {
  opacity: 1;
  position: fixed;
  left: 2em; /* changes the left edge gap */
  top: 15em; /* changes the top edge gap */
  /* width: 20%; */
  max-width: 260px;
  max-height: 85%;
  overflow-y: auto;
  background: none;            /* Optional, remove to enable the blur filter (just for fun). */
  padding: 10px;                /* Optional */
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
  border: none;
  /* border-radius: 1px; */
  transition: all 0.5s;
  z-index: 999;                 /* Optional */
  }

/* 💡 This small transition makes setting of the active state smooth */
.d-contents nav a {
      transition: all 0.1s ease-in-out;
  }

.d-contents nav a:hover {
    color: var(--navbar-sec-color);
    font-weight: 500;
    border-color: var(--navbar-sec-color);
    transform: scale(1.01); /* change scale to control hover zoom, now it is in 1:1 ratio */
    padding-left:0%; /* change percentage value to control left gap during hover */
    background-color: none; /* background colour on hover, kept as white as it is my bg colour */
    display: block; /* keep it as block to station the text on hover */
}

/* ScrollSpy active styles (see JAVASCRIPT tab for activation) */
.d-contents nav ul li.active > a { 
    font-weight: bold;  
    /* border-left: 1px solid #2780e3; */
    color: var(--navbar-sec-color) !important;
  }
  
/* Hide the TOC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 992px) {
#TOC {
    position: relative;
    left: 0;
    top: 0;
    max-width: none;
    max-height: none;
    overflow-y: auto;
    border: none;
    background: none; }
  }

/* No navbar links on mobile except for the title and the nav-toggle */
@media screen and (max-width: 992px) {
  .distill-site-header a, .distill-site-header .nav-dropdown {
    display: none;
  }
  
  .distill-site-header a.title, .distill-site-header a.nav-toggle {
    display: inline-block;
    padding: 10px 0px;
    margin: 10px 14px; 
  }
}